.colorBk {
    color: #000 !important;
}

.colorWt {
    color: #fff !important;
}

.regBorder {
    padding: 6px 12px 6px;
    border: solid 1px white;
}

.regBorder2 {
    padding: 6px 12px 6px;
    border: solid 1px #0286CA;
    background: #0286CA;
    color: #fff;
}

.colorWt2 {
    color: #fff!important;
}

.colorWt2:hover {
    color: #0286CA!important; 
}


.home-content__button {
    position: initial;
}

.s-home::before {
    background: linear-gradient(180deg, #666666 0%, rgba(153, 153, 153, 0) 100%);
}

.s-homeHeaderTextColor {
    color: white !important;
    font-weight: bold;
    font-size: 72px !important;
    line-height: 88px;
    display: flex;
    align-items: center;
    text-align: center;
}

.s-homeTextColor {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold !important;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    display: flex;
    align-items: center !important;
    text-align: center !important;
    color: #FFFFFF !important;
}

.photoTitle {
    margin-bottom: 16px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */
    display: flex;
    color: #000 !important;
    align-items: center;
}

.photoDesc {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000 !important;
}

.landingSectionCentre {
    text-align: center;
}

.photoWithTextSector {
    padding: 14px;
}

.aboveFooterBtn {
    margin-top: 0px;
    margin-bottom: 140px;
}

.topSection {
    margin-top: 100px;
}


.headerBlueText {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #0286CA;
}

.mb-7 {
    margin-bottom: 70px;
}

.paddingAdjustedFooter {
    padding-bottom: 36px;
    padding-top: 36px;
}

.footerHeaderText {
    color: #fff;
    font-size: 18px;
}

.footerParaText {
    color: #fff;
    font-size: 14px;
}

@media only screen and (min-width: 1280px) {}


@media only screen and (max-width: 1200px) {
    .col-b-12-1200 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .col-b-12 {
        width: 100% !important;
    }
}


@media only screen and (max-width: 768px) {
    .s-homeHeaderTextColor {
        font-size: 4rem !important;
    }

    .photoDesc {
        font-size: 14px;
    }

    .media12Btn {
        width: 100%;
    }

    .mediaMarginFooter {
        margin-top: 28px;
    }

    .media768FooterImg {
        width: 28px;
    }
}

@media only screen and (max-width: 700px) {
    .media768FooterImg {
        width: 18px;
    }
}